<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.risk.base.mapper.RiskStrategyRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aurora.risk.base.model.RiskStrategyRecord">
        <id column="id" property="id" />
        <result column="mer_order_no" property="merOrderNo" />
        <result column="risk_order_no" property="riskOrderNo" />
        <result column="strategy_id" property="strategyId" />
        <result column="strategy_name" property="strategyName" />
        <result column="strategy_no" property="strategyNo" />
        <result column="strategy_type" property="strategyType" />
        <result column="strategy_version" property="strategyVersion" />
        <result column="strategy_result" property="strategyResult" />
        <result column="run_time" property="runTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mer_order_no, risk_order_no, strategy_id, strategy_name, strategy_no, strategy_type, strategy_version, strategy_result, run_time, update_time, create_time
    </sql>

</mapper>
