<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.risk.base.mapper.RiskRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aurora.risk.base.model.RiskRule">
        <id column="id" property="id" />
        <result column="rule_no" property="ruleNo" />
        <result column="rule_name" property="ruleName" />
        <result column="rule_desc" property="ruleDesc" />
        <result column="rule_status" property="ruleStatus" />
        <result column="rule_version" property="ruleVersion" />
        <result column="item_count" property="itemCount" />
        <result column="parent_count" property="parentCount" />
        <result column="policy_type" property="policyType" />
        <result column="data_class" property="dataClass" />
        <result column="get_data_type" property="getDataType" />
        <result column="rule_type" property="ruleType" />
        <result column="rule_formula" property="ruleFormula" />
        <result column="rule_logic" property="ruleLogic" />
        <result column="rule_hit_result" property="ruleHitResult" />
        <result column="rule_defult_result" property="ruleDefultResult" />
        <result column="current_used_count" property="currentUsedCount" />
        <result column="history_used_count" property="historyUsedCount" />
        <result column="add_operator_id" property="addOperatorId" />
        <result column="add_operator_name" property="addOperatorName" />
        <result column="update_operator_id" property="updateOperatorId" />
        <result column="update_operator_name" property="updateOperatorName" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rule_no, rule_name, rule_desc, rule_status, rule_version, item_count, parent_count, policy_type, data_class, get_data_type, rule_type, rule_formula, rule_logic, rule_hit_result, rule_defult_result, current_used_count, history_used_count, add_operator_id, add_operator_name, update_operator_id, update_operator_name, update_time, create_time, is_delete
    </sql>

</mapper>
