<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.risk.base.mapper.RiskOrderRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aurora.risk.base.model.RiskOrderRecord">
        <id column="id" property="id" />
        <result column="risk_order_no" property="riskOrderNo" />
        <result column="last_status" property="lastStatus" />
        <result column="now_status" property="nowStatus" />
        <result column="run_time" property="runTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, risk_order_no, last_status, now_status, run_time, create_time
    </sql>

</mapper>
