<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.risk.mapper.RuleMapper">

    <select id="getSimpleRuleListByComplexRuleId" parameterType="Long" resultType="com.aurora.risk.base.model.RiskRule">
        select r.*
        from risk_rule_group g
                 left join risk_rule r on g.simple_rule_id = r.id
        where g.is_delete = 0
          and g.complex_rule_id = #{complexRuleId}
        order by g.simple_rule_order
    </select>

    <select id="getRuleListByStrategyNo" parameterType="String" resultType="com.aurora.risk.base.model.RiskRule">
        select r.*
        from risk_strategy_rule s
                 left join risk_rule r on s.rule_id = r.id
        where s.strategy_no = #{strategyNo}
          and s.is_delete = 0
          and s.rule_status !=2
        order by s.rule_order
    </select>

</mapper>
